.map-container {
  width: 100%;
  height: 18vw;
  z-index: 0;
}

.masonry {
  masonry-auto-flow: next;
}

@media screen and (min-width: 0px) and (max-width: 424px) {
  .map-container {
    width: 16rem;
    height: 16rem;
    margin: 0 auto;
    z-index: 0;
    position: relative;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .map-container {
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    z-index: 0;
    position: relative;
  }
}

